
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mercado</title>
</head>
<body>
    <div>
        <h1>Resultado</h1> <br />
        Nombre: @Model.Nombre<br />
        Cantidad: @Model.Cantidad <br />
        Precio: @Model.Precio <br /> 
        Total: @Model.Total<br />
        Con el Descuento: @Model.Desc <br />
        

    </div>
</body>
</html>
